/**********************************************
COLOR GUIDE:
- olive green:    #91B53F
- teal blue:      rgb(94,231,225) | #5EE7E1
- yellow:         rgb(255,243,102) | #FFF366
- light yellow:   0.2 opacity of yellow accent
- orange:         #FFA52B

- base dark gray: #353535
- medium gray:    #7E7E7E
**********************************************/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-image: url('images/background1-01.png');
  background-size: 20%;
  color: #353535;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
}

h2 {
  font-family: 'JetBrains Mono', monospace;
  margin: 10px 0px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 17px;
  margin: 10px 0px;
}

h4 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 15px;
  margin: 5px 0px;
}

button, .button {
  cursor: pointer;
  background-color: rgb(0,0,0,0);
  border: 2px solid #91B53F;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.button-content {
  display: flex;
  justify-content: center;
}


/****** PRODUCT ******/
.product {
  width: 25%;
  height: fit-content;
  border: 3px solid #FFF366;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: white;
}

.product button {
  background-color: rgb(145,181,63,0.2);
}
.product button:hover {
  background-color: rgb(94,231,225,0.2);
  border: 2px solid #5EE7E1;
  transition: all 0.2s ease-in-out;
}

/* {.product h2} code inspired from:
https://paulund.co.uk/css-animation-link-underline */
.product h2 {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 5px;
}
.product h2:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 10%;
  background-color: #FFF366;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.product h2:hover:before {
  visibility: visible;
  width: 80%;
}

.product h2:hover {
  color: #7E7E7E;
  transition: 0.5s ease;
}

.product-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.product-img:hover {
  opacity: 0.7;
  transition: .5s ease;
}



/****** SALE ITEMS ******/
.sale-item h3 {
  color: #FFA52B;
  font-weight: 900;
}
.sale-item svg {
  vertical-align: sub;
}
.cross-out {
  text-decoration: line-through;
}



/****** CART ITEMS ******/
#shopping-cart {
  width: 35%;
  min-height: 100vh;
  padding: 10px;
  background-color: rgb(255,243,102,0.8);
}

.cart-item {
  border-top: 1px solid #353535;
}

.quantity-button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.quantity-button-bar h3 {
  margin: 0px 10px;
  width: fit-content;
}
.quantity-button-bar button {
  font-size: 24px;
  border: 0;
  padding: 0;
  width: 35px;
  font-weight: 900;
}

.remove-button {
  border: none;
  padding: 0;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.unstyled-link {
  text-decoration: none;
  color: #353535;
}

#shopping-cart .button {
  background-color: rgb(94,231,225,0.2);
  border: 2px solid #5EE7E1;
}
#shopping-cart .button:hover {
  background-color: rgb(255,165,43,0.2);
  border: 2px solid #FFA52B;
  transition: all 0.2s ease-in-out;
}


/****** CHECKOUT PAGE ******/
.checkout-page h1 {
  margin: 40px 0px;
  padding-bottom: 5px;
  border-bottom: 4px solid #FFF366;
}
.checkout-item {
  margin-bottom: 30px;
}

/****** OUTER COMPONENTS ******/
.app-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#product-list {
  width: 70vw;
  min-width: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/****** MISC FUNCTIONS ******/
.align-text-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.yellow-highlight {
  background-color: #FFF366;
}

.teal-highlight {
  background-color: #5EE7E1;
}
